.screen3 {

    background-color: #282424;
    background-size: cover;
    background-position: center;
    height:2000px;

}

.zoom {transition: transform .3s; cursor: pointer;}

.zoom:hover {transform: scale(1.3);}

hr { background-color: orange; height: 2px; border: 0; }